* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  background-color: rgba(0,0,0, .5);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
  padding: 2%;
  display: flex;
  justify-content: space-between;
}

.mark-container {
  flex-basis: 5%;
}

.mark {
  text-align: center;
  font-size: 35px;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(134, 134, 198, 0.549);
  color: rgb(0, 76, 255);
}

.content {
  flex-basis: 86%;
}

.up {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
}

.mark2 {
  text-align: center;
  font-weight: 900;
  padding: 5px;
  color: rgb(52, 50, 50);
  background-color: rgba(128, 128, 128, 0.393);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.content p {
  font-size: 17px;
  margin-bottom: 4%;
}

.btn {
  height: 35px;
  padding: 0 20px;
  border-radius:  8px;
  cursor: pointer;
  transition: .5s;
}

.btn:hover {
  transform: translateY(-5px);
}

.one {
  border: none;
  background-color: rgb(30, 93, 242);
  color: #fff;
}

.two {
  border: 2px solid rgb(97, 94, 94, .4);
  background-color: #fff;
  color: rgb(30, 93, 242);
}