* {
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: blue;
  border: 5px solid darkblue;
  height: 98vh;
}

.sub {
  background-color: rgb(245, 82, 82);
  border: 5px solid darkred;
  height: 200px;
  width: 200px;
}

.sub h1 {
  text-align: center;
  font-size: 40px;
}